* {
  box-sizing: border-box;
}
body{
  font-weight: bold;
  text-align: center;
}

#article,#aside,#footer,#header,#nav{
  padding:20px;
}
#header{
  background-color: tomato;
}
#nav{
  background-color: deepskyblue;
}
#article{
  background-color: gold;
  text-align:left;
}
#aside{
  background-color: lightgreen;
}
#footer{
  background-color: hotpink;
}
#nav{
  display:flex;
}
#nav a{
  text-decoration:none;
  color:black;
  flex: 1 1 auto;
}
@media screen and (min-width: 800px) {
  body{
    display:flex;
    flex-direction:column;
    max-width:1500px;
    margin:auto;
  }
  #main{
    display:flex;
    flex-wrap:wrap;
  }
  #nav,header{
    order: -1;
  }
  #article{
    flex: 1 1 75%;
  }
  #aside{
    flex: 1 1 25%;
  }
  
}